body {
    background-color: black;
    color: white;
    text-align: center;
    
}

form {
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px auto 0px auto;
    width: 100px;
}

select {
    margin: 10px auto 0px auto;
    width: 150px;
}

div {
    margin: 50px auto 0px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: ; */
}

a {
    margin: 10px auto 0px auto;
    color: green;
    text-decoration: none;
    font-size: 20px;
    transition: color 200ms linear 0s;
    line-height: 1;

}

a:hover {

    color: rgb(0, 192, 0);
}

.title {
    color: #ee4a77
}